<!-- <body class="thebody">
  <div class="container">
    <div class="seperator">
      <h1>Welcome</h1>
      <p>______</p>
      <h3>We're super excited to have you on board!</h3>
    </div>

    <div class="seperator2">
      <h2>Sign In</h2>
      <p >
        Don't have an account ?
        <b style="color: blue; font-weight: 100; text-decoration: underline" (click)="goToSignIn()">Create your account</b>, it takes less than a minute.
      </p>

      <div class="textfield">
        <input #email type="text" placeholder="Email">
        <img style="opacity: 0.5;" class="person" src="../../assets/imgs/1x/baseline_person_black_18dp.png">
      </div>

      <div class="textfield">
        <input #password type="text" placeholder="Password">
        <img style="opacity: 0.5;" class="person" src="../../assets/imgs/baseline_lock_black_18dp.png">
      </div>

      <table class="theTable">
        <tr>
          <td class="password" (click)="forgotpassword(email.value)"> Forgot Password?</td>
        </tr>
      </table>

      <div class="divButton">
        <button class="theBUTTON" (click)="login(email.value, password.value)">Login</button>
      </div>
    </div>

  </div>
</body> -->

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="maindiv">
  <div class="box">
    <div class="row">
      <div class="column1">
        <h1>Welcome</h1>
        <p>______</p>
        <h3>We're super excited to have you on board!</h3>
      </div>
      <div class="column">
        <h2>Sign In</h2>
        <p>
          Don't have an account ?
          <b style="color: blue; font-weight: 100; text-decoration: underline" (click)="goToSignIn()">Create your account</b>, it takes less than a minute.
        </p>

        <label for="">
        <i style="position: relative; top: 35px; left: 230px; color: #20676e" class="material-icons">mail</i>
      </label>
      <input #email type="text" placeholder="Email">

        <label for="">
          <i style="position: relative; top: 35px; left: 230px; color: #20676e" class="material-icons">lock</i>
        </label>
        <input #password type="text" placeholder="Password">


        <p class="password" (click)="forgotpassword(email.value)"> Forgot Password?</p>
        <button (click)="login(email.value, password.value)">Login</button>

      </div>
    </div>
  </div>
</div>