<!-- <div class="content">
    <h1>
        Your Business Details
      </h1>
<div class="container" *ngFor="let i of Orgs | async">

  <div align="center">
    <img class="ProPic" src="{{i.downloadurl}}">
  </div>

  <div class="bar">
    <h1 class="h1">Your Details</h1>
  </div>

  <table align="center">
    <tr>
      <td valign="top" class="leftTD">
        Name :
      </td>
      <td valign="top" class="rightTD">
        {{i.Firstname}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Surname :
      </td>
      <td valign="top" class="rightTD">
        {{i.Lastname}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Email Adress :
      </td>
      <td class="rightTD">
        {{email}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Mobile No. :
      </td>
      <td valign="top" class="rightTD">
        {{i.Mobile}}
      </td>
    </tr>
  </table>

  <div class="bar">
    <h1 class="h1">Organisation Details</h1>
  </div>

  <div >
    <img class="coverPic" src="../../assets/imgs/default-cover.jpg">
  </div>

  <div align="center" class="logo">
    <img  class="round2" src="../../assets/imgs/icon.png">
  </div>
  
  <table align="center">
    <tr>
      <td valign="top" class="leftTD">
        Organisation Name:
      </td>

      <td valign="top" class="rightTD">
        Little Rose

      </td>
     </tr>
      <tr>
        <td valign="top" class="leftTD">
          Organisation Cat :
        </td>

        <td valign="top" class="rightTD">

          Old aged home
        </td>
      </tr>

      <tr>
        <td valign="top" class="leftTD">
          Organisation Tel. :
        </td>

        <td valign="top" class="rightTD">

          {{i.Telephone}}
        </td>
      </tr> 
      <tr>
        <td valign="top" class="leftTD">
          Description :
        </td>
        <td valign="top" class="rightTD">
          {{i.AboutOrg}}
        </td>
      </tr>  
  </table>
</div>

</div> -->



<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="thebody">
  <div class="container">
    <div class="cover">
      <!-- <div class="SaveButton">
            <button class="saveBtn">Save</button>
          </div> -->
      <h2>Your cover picture</h2>
      <div class="round">
        <img class="theImage" src="../../assets/imgs/thebrownlogo.jpg">
      </div>
    </div>
    <div class="seperator">
      <h1>Edit your Business Profile</h1>
      <div class="textfield">
        <input #email type="text" placeholder="Organisation Name">
        <i style=" color: white;height: 30px; position: relative; left: -25px;" class="person" class="material-icons">business</i>
      </div>
      <div class="textfield">
        <input #email type="text" placeholder="Organisation Type">
        <i style=" color: white;height: 30px; position: relative; left: -25px;" class="person" class="material-icons">business</i>
      </div>
      <div class="textfield">
        <input #email type="email" placeholder="Email">
        <i style=" color: white;height: 30px; position: relative; left: -25px;" class="person" class="material-icons">mail</i>
      </div>
      <div class="textfield">
        <input #email type="number" placeholder="Phone No.">
        <i style=" color: white;height: 30px; position: relative; left: -25px;" class="person" class="material-icons">phone</i>
      </div>
      <div class="textfield">
        <input #email type="email" placeholder="Physical Address">
        <i style=" color: white;height: 30px; position: relative; left: -25px;" class="person" class="material-icons">
          location_on</i>
      </div>
      <textarea class="theDescription" placeholder="Description" maxlength="230" id="about" type="text"></textarea>

      <div class="SaveButton">
        <button class="saveBtn">Save</button>
      </div>
    </div>
    <div class="seperator2">
      <div class="theADDBtn">
        <button class="BranchButton">
          <i style="color: #2c747a; position: relative;right: 0px;" class="material-icons">add</i>Add Brunch</button>
      </div>
      <h1 class="theH1">Organisation Braches</h1>
      <div class="rightPortion">
        <div class="imgContainer">
          <h4>Image</h4>
          <img src="../../assets/imgs/240_F_233133706_NzmdCQbbF11d9LUp2uxY2xulLOBC2uyG.jpg" alt="" class="thePicture2">

        </div>
        <div class="imgContainer">
          <h4>Image</h4>
          <img src="../../assets/imgs/240_F_233133706_NzmdCQbbF11d9LUp2uxY2xulLOBC2uyG.jpg" alt="" class="thePicture2">

        </div>
        <div class="imgContainer">
          <h4>Image</h4>
          <img src="../../assets/imgs/240_F_233133706_NzmdCQbbF11d9LUp2uxY2xulLOBC2uyG.jpg" alt="" class="thePicture2">

        </div>
        <div class="imgContainer">
          <h4>Image jjhksdfgh sdfjghk sdfigh sdiofgh</h4>
          <img src="../../assets/imgs/240_F_233133706_NzmdCQbbF11d9LUp2uxY2xulLOBC2uyG.jpg" alt="" class="thePicture2">

        </div>
        <div class="imgContainer">
          <h4>Image</h4>
          <img src="../../assets/imgs/240_F_233133706_NzmdCQbbF11d9LUp2uxY2xulLOBC2uyG.jpg" alt="" class="thePicture2">

        </div>
      </div>

    </div>
  </div>

</body>